@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

.container {
    /* border: 2px solid blue; */
    height: inherit;
    width: inherit;
    padding: 20px;
}

.container p {
    padding: 20px;
}

.nikkah, .marriage-issues, .talaq {
    /* border: 2px solid black; */
    margin: 20px;
    padding: 10px;
}